{% extends 'base.html' %}

{% block content %}

    <br>
    <br>

    <div class="text-center">

        <h3>Welcome to the movie house</h3>

        <br>

        <h5>Let's watch it!</h5>

        <br>

        <img src="static/images/wallpaper1.jpg" alt="Wallpaper" 
        style="width: 98%;
        height: 80vh;
        "
        />

        <br>
        <br>

        <a href="/register" type="button" class="btn btn-outline-primary">
            Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>

        <a href="/login" type="button" class="btn btn-outline-primary">
            Login &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>

        <br>

        <br>
    </div>

{% endblock %}