{% extends 'base.html' %}

{% block content %}

    <section class="container forms">

        <div class="form login">

            <div class="form-content">

                <header>Login</header>

                <form action="/login" method="POST">

                    {{ form.hidden_tag() }}

                    {{ csrf_token }}

                    <div class="field input-field">

                        {{ form.email(placeholder="email") }}

                    </div>

                    <div class="field input-field">

                        {{ form.password(placeholder="password") }}

                        <i class='bx bx-hide eye-icon'></i>

                    </div>

                    {% if error %}

                        <p id="message-timer" class="error_message"><strong>{{ error }}</strong></p>    

                    {% endif %}       


                    <div class="form-link">

                        <a href="#" class="forgot-pass">Forgot password?</a>

                    </div>
                    <br>

                    {{ form.submit(class="field button-field")}}

                </form>

                <div class="form-link">

                    <span>Don't have an account? <a href="/register" class="link signup-link">Signup</a></span>

                </div>

            </div>

            <div class="line"></div>

            <div class="media-options">

                <a href="#" class="field facebook">

                    <i class='bx bxl-facebook facebook-icon'></i>

                    <span>Login with Facebook</span>

                </a>

            </div>

            <div class="media-options">

                <a href="#" class="field google">

                    <img src="static/images/google.png" alt="" class="google-img">

                    <span>Login with Google</span>

                </a>

            </div>

        </div>

    </section>

{% endblock %}